@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-input-outlined > div {
  z-index: 10000;
}
